<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/nav %>

    <div class="container">
      <form style="padding: 200px;" action="/<%=id%>/updateUserLanguage/<%=languages._id%>" method="POST">
        <% include partials/updateHeading %>
        <div class="form-group">
          <label for="languages">Language</label>
          <input type="text" class="form-control" id="languages" name="languages" value="<%=languages.languages%>">
        </div>
        <button type="submit" class="btn btn-primary gradient">Submit</button>
      </form>
    </div>

</body>
<% include partials/script %>

</html>